:root {
  --clr-1: #e7d4c3;
  --clr-2: #c6b6a7;
  --clr-3: #8b0000;
  --clr-4: #eee5e0;
  --clr-5: #5c564c;
  --clr-6: #d7b4a1;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  background-color: var(--clr-2);
  text-align: center;
  padding-top: 1rem;
}

header h1 {
  font-size: 2.5rem;
}

ul {
  list-style: none;
  padding: 0;
}

nav ul {
  display: flex;
  gap: clamp(0.5rem, 3vw, 6rem);
  justify-content: center;
}

ul button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: clamp(0.5rem, 3vw, 1rem);
  padding: 0.5rem 1rem;
  outline: 2px solid transparent;
  outline-offset: 5px;
  transition: outline-color 0.3s ease, outline-offset 0.3s ease;
}

ul button:hover {
  outline-color: black;
  outline-offset: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.active {
  outline-offset: 0;
  outline-color: black;
}

#content {
  display: flex;
  align-items: center;
  background-color: var(--clr-1);
  padding: 0 clamp(1rem, 2vw, 1.5rem);
}

/*Main page*/
.main-page {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
  height: 75vh;
  background-color: var(--clr-4);
}

.main-img {
  height: 100%;
  width: auto;
}

.main-text { 
  margin: 0 clamp(1rem, 5vw, 5rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: var(--clr-5);
}

.main-title {
  font-size: 2.5vw;
  color: var(--clr-3);
}

.separator {
  height: 2px;
  width: 100%;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.267);
  margin-top: -25px;
}

.main-paragraph {
  font-size: 1.1vw;
}

.main-btn {
  padding: 0.5rem 1rem;
  width: 150px;
  height: 45px;
  font-size: 1rem;
  background: none;
  background-color: var(--clr-3);
  color: white;
  border: none;
  cursor: pointer;
}

@media (max-width: 1250px) {
  .main-page {
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 1rem;
    height: auto;
    width: 100%;
    margin: 2.5rem 0;
  }

  .main-img {
    height: auto;
    width: 100%;
  }

  .main-text {
    padding: 2rem;
    margin: 0;
  }

  .main-title {
    font-size: clamp(1.8rem, 2vw + 1rem, 3rem);
  }

  .main-paragraph {
    font-size: clamp(1rem, 1.2vw + 0.5rem, 1.5rem);
  }

  .main-text {
    margin: 0 clamp(1rem, 5vw, 5rem);
  }
}
/*Main page*/

/*Menu page*/
.menu-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 2rem;
  margin: 2rem 0;
  padding: 0;
  width: 100%;
}

@media (max-width: 400px) {
  .menu-page {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.dish {
  background-color: var(--clr-4);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}

.dish:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}

.dish-description {
  color: var(--clr-5);
}

.menu-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dish-title {
  font-size: 1.8rem;
  margin: 0;
}

.dish-price {
  font-size: 1.5rem;
  color: var(--clr-3);
}
/*Menu page*/

/*Contact page*/
.contact-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(1rem, 10vw, 12rem);
  background-color: var(--clr-4);
  height: 75vh;
  padding: 2rem;
  box-sizing: border-box;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-size: 1.3rem;
  max-width: 400px;
  color: var(--clr-5);
}

.contact-info ul {
  margin: 0;
}

.contact-info h2 {
  font-size: 3rem;
  margin: 0;
  color: var(--clr-3);
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 450px;
  margin-top: 1.5rem;
}

label {
  color: var(--clr-5);
}

.contact-form input, .contact-form textarea {
  padding: 0.5rem;
  cursor: pointer;
  border: 2px solid var(--clr-5);
  resize: none;
  background-color: var(--clr-4);
}

input:focus, textarea:focus {
  outline: none;
  border: 2px solid var(--clr-3);
  border-radius: 0;
}

.contact-form textarea {
  height: 80px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.name-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

form > button {
  margin-left: auto;
  padding: 0.5rem 1rem;
  width: 120px;
  height: 40px;
  font-size: 1rem;
  background: none;
  background-color: var(--clr-3);
  border: none;
  cursor: pointer;
  color: white;
}

@media (max-width: 900px) {
  .contact-page {
    flex-direction: column;
    height: auto;
    margin: 2.5rem 0;
  }
}

@media (max-width: 580px) {
  .contact-form {
    width: 100%;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .name-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
/*Contact page*/

/*About page*/
.about-page {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
  "main main"
  "sub1 sub2"
  "sub1 sub2";
  gap: 1rem;
  height: 75vh;
  color: var(--clr-5);
}

.about-title {
  color: var(--clr-3);
  font-size: 2rem;
}

.about-paragraph, .about-list {
  margin: 0;
  font-size: 20px;
}

.about-list {
  list-style: disc;
  text-align: justify;
}

.main-about-box {
  background-color: var(--clr-6);
  width: 100%;
  height: 100%;
  grid-area: main;
}

.sub-about-box {
  background-color: var(--clr-4);
  width: 100%;
  height: 100%;
}

.main-about-box, .sub-about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem clamp(1rem, 10vw, 10rem);
  box-sizing: border-box;
  text-align: center;
}

.sub-about-box.r {
 grid-area: sub1;
}

.sub-about-box.l {
  grid-area: sub2;
}

@media (max-width: 1100px) {
  .about-page {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "main"
    "sub1"
    "sub2";
    height: auto;
    margin: 2.5rem 0;
  }
}
/*About page*/